@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TransmissionFail</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet" />


    <script src="/Scripts/jquery-3.0.0.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
</head>
<body ng-app="transmissionfail"
      ng-controller="TransmissionGame as game">
    <script src="~/Scripts/angular-route.min.js"></script>
    <div class="gamebox"
         ng-view>
        
    </div>

    <script src="/Scripts/umd/popper.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-route.min.js"></script>

    <script src="/Js/Game.js"></script>
</body>
</html>
